<app-menu></app-menu>
<div>
    <span id="pageTitle">Product List</span>  |
    <a routerLink="/product/create">New</a>  |
    <input [(ngModel)]="searchCriteria" type="text" placeholder="Search">
    
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Vendor</th>
            <th>PartNbr</th>
            <th>Description</th>
            <th>Price</th>
            <th>Each</th>
            <th>Photo</th>
            <th>Actions</th>          
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{ p.id }}</td>
            <td>{{ p.vendorId }}</td>
            <td>{{ p.partnbr }}</td>
            <td>{{ p.name}}</td>
            <td>{{ p.price | currency }}</td>
            <td>{{ p.unit }}</td>
            <td>{{ p.photopath }}</td>
                 
            <td>
                <a routerLink="/product/detail/{{ p.id }}">Detail</a> |
                <a routerLink="/product/edit/{{ p.id }}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

