<app-menu></app-menu>
<div>
    <span id="pageTitle">Edit Product</span>
</div>
<table *ngIf="product" class="table table-sm">
    <tr>
        <th>Id:</th>  
        <td><input [(ngModel)]="product.id" type="number" readonly></td>
    </tr>
    <tr>
        <th>Vendor:</th>  
        <td><input [(ngModel)]="product.vendorId" type="number" readonly></td>
    </tr>    
    <tr>
        <th>PartNbr:</th>  
        <td><input [(ngModel)]="product.partNbr" type="text" readonly></td>
    </tr>    
    <tr>
        <th>Description:</th>  
        <td><input [(ngModel)]="product.name" type="text" readonly></td>
    </tr>
    <tr>
        <th>Price:</th>  
        <td><input [(ngModel)]="product.price" type="text" readonly></td>
    </tr>
    <tr>
        <th>Unit</th>  
        <td><input [(ngModel)]="product.unit" type="text" readonly></td>
    </tr>
    <tr>
        <th>Photo</th>  
        <td><input [(ngModel)]="product.photopath" type="text" readonly></td>
    </tr>     
    <tr>
</table>

