   <div>
           <table class="table table-sm table-borderless">
            <tr>
                <th class="bigger50pct bold" colspan="2">User Login</th>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <div>
            <tr>
                <td>Username:</td>
                <td>
                    <input [(ngModel)]="username" size=20 name="username" type="text" >
                </td>
            </tr>          
            </div>
            <div>
            <tr>
                <td>Password:</td>
                <td>
                    <input [(ngModel)]="password" size=20 type="password" type="text">
                </td>
            </tr>  
            </div>
            <tr>
                <td colspan="2">
                    <span class="text-danger">{{message}}</span> 
                </td>
            </tr>
            <div>
            <tr>  
                <td>
                    <button (click) ="submit()" class="btn btn-primary">Login</button>
                </td>              
            </tr> 
         </div>      
        </table>   
</div>

